export(alpha_override)
export(axisLim)
export(clrAll)
export(denseMode)
export(fac2num)
export(getHCL)
export(getLuminance)
export(hasData)
export(hdi)
export(hdiq)
export(loadPkg)
export(logit)
export(mPlot)
export(makeEmptyDf)
export(mejrColor)
export(plotPDF)
export(printSec)
export(rainbow2)
export(sigmoid)
export(stackCSV)
export(stddev_ME)
export(theme_mejr)
export(varcov_ME)
import(Cairo)
import(ggplot2)
import(grid)
import(tools)
