export(alpha_override)
export(axisLim)
export(clrAll)
export(fac2num)
export(getHCL)
export(getLuminance)
export(hasData)
export(hdi)
export(loadPkg)
export(mPlot)
export(makeEmptyDf)
export(mejrColor)
export(printSec)
export(rainbow2)
export(sigmoid)
export(stackCSV)
export(theme_jb)
import(ggplot2)
import(grid)
import(tools)
